    <% @posts.each do |post| %>        
      <%= link_to (post) do %>
      <div class="item col-md-2">
        <div class="thumbnail img-responsive">
          <%= image_tag post.picture.url(:medium) %>
      
        </div>
      </div>
      <% end %>
    <% end %>

    <%= link_to "new post", new_post_path %>