 
 <div class="container">
		
			
			<div class="main">
	
				
				<div class="gamma-container gamma-loading" id="gamma-container">

					<ul class="gamma-gallery">

						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="assets/xxxlarge/3.jpg" data-min-width="1300"></div>
								<div data-src="assets/xxlarge/3.jpg" data-min-width="1000"></div>
								<div data-src="assets/xlarge/3.jpg" data-min-width="700"></div>
								<div data-src="assets/large/3.jpg" data-min-width="300"></div>
								<div data-src="assets/medium/3.jpg" data-min-width="200"></div>
								<div data-src="assets/small/3.jpg" data-min-width="140"></div>
								<div data-src="assets/xsmall/3.jpg"></div>
								<noscript>
									<img src="assets/xsmall/3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
					</ul>

				

			</div><!--/main-->
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		