  
<style>this	{width:100%;height:200px;}</style>
				
<div class="this slider one-time" >
				<% @background.each do |p| %>
				
					
					

					<div><img src=<%= p.picture.url.to_s %>></div>
					
					
<%end%>

				</div>
	
			<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

			